*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.carton-bar{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap:10px;
  row-gap:10px;
  width: fit-content; 
  padding: 0;
}


.side-by-side{
  display: flex;
  flex-direction: row;
}
.card-special{
  border: 1px solid #D4D4D5;
  margin: 20px 0 20px 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.2);
  height: 340px;
  width: 230px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.image-offset{
  height: 219px;
  width: 100%;
  background-color: #F2F2F2;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite{
  width: 65%;
  height: auto;
}

.ar{
  width: auto;
  height: auto;
}

.name{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.sub{
  color: #9F9F9F;
}

.card-bar{
  width: 100%;
  padding: 20px 10px 10px 10px;
  flex-grow: 100;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

a{
  font-size: small;
}

@media only screen and (max-width: 950px) {
  .carton-bar{
      grid-template-columns: repeat(3, 1fr);
  }
  
}
@media only screen and (max-width: 700px) {
  .carton-bar{
      grid-template-columns: repeat(2, 1fr);
  }
  
}